<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Knowledge Bank Store</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
  <header>
    <h1 v-text="sitename"></h1>
    <button :disabled="cartItemCount < 1" v-on:click="showCheckout">
      {{cartItemCount}}
      <span  class="fas fa-cart-plus"></span>  {{step === 1 ? 'CheckOut' : 'View Cart'}}
    </button>
  </header>
  <main>
    <div v-if="step === 1">
      <div v-for="(lesson, index) in lessons">
        <figure>
          <img width="100" v-bind:src="lesson.image">
        </figure>
        <p>Subject: {{lesson.subject}}</p>
        <p>Location: {{lesson.location}}</p>
        <p>Price: {{lesson.price}}</p>
        <p>Spaces: {{lesson.availableInventory}}</p>
        <button :disabled="!canAddToCart(lesson)" v-on:click="addToCart">
          Add to cart
        </button>
        <div>
          <span v-for="n in product.rating">★</span>
          <span v-for="n in 5 - product.rating">☆</span>
        </div>
      </div>
    </div>
    <form v-else>
      <div>
        <h2>Checkout</h2>
        <p>
          <label for="name"><strong>Name:</strong></label>
          <input id="name" v-model.trim="order.name"/>
        </p>
        <p>
          <label for="phone"><strong>Phone:</strong></label>
          <input id="phone" v-model.trim="order.phone"/>
        </p>

        <button type="submit" v-on:click="submitForm">
          Checkout
        </button>
      </div>
    </form>
  </main>

</div>


<script type="text/javascript">
  import lessonsData from "js/lessons.json"
  var webstore = new Vue({
    el: '#app',
    data: {
      step: 1,
      sitename: 'Knowledge Bank Store',
      lessons: lessonsData,
      order: {
        name: '',
        phone: '',
      },
      cart: [],

    },
    methods: {
      addToCart: function(){
        this.cart.push(this.product.id)
      },
      showCheckout(){
        this.showProduct = !this.showProduct
      },
      submitForm(){
        alert("Order Submitted.")
      },
      canAddToCart () {
        return this.product.availableInventory > this.cartItemCount;
      }
    },
    computed: {
      cartItemCount: function () {
        return this.cart.length;
      },
    }
  });
</script>
</body>

</html>
