<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Knowledge Bank Store</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
  <header>
    <h1 v-text="sitename"></h1>
    <button :disabled="cartItemCount < 1" v-on:click="showCheckout">
      {{cartItemCount}}
      <span  class="fas fa-cart-plus"></span>  {{step === 1 ? 'CheckOut' : 'View Cart'}}
    </button>
  </header>
  <main>
    <div v-if="step === 1">
      <div v-for="(lesson, index) in lessons">
        <figure>
          <img width="100" v-bind:src="lesson.image">
        </figure>
        <p>Subject: {{lesson.subject}}</p>
        <p>Location: {{lesson.location}}</p>
        <p>Price: {{lesson.price}}</p>
        <p>Spaces: {{lesson.availableInventory - lesson.cart_quantity}}</p>
        <button :disabled="!canAddToCart(lesson)" v-on:click="addToCart(lesson)">
          Add to cart
        </button>
      </div>
    </div>
    <form v-else>
      <div>
        <h2>Checkout</h2>
        <p>
          <label for="name"><strong>Name:</strong></label>
          <input id="name" v-model.trim="order.name"/>
        </p>
        <p>
          <label for="phone"><strong>Phone:</strong></label>
          <input id="phone" v-model.trim="order.phone"/>
        </p>

        <button type="submit" v-on:click="submitForm">
          Checkout
        </button>
      </div>
    </form>
  </main>

</div>


<script  type="module">
  import lessons from "/js/lessons.json" assert { type: 'json' };
  var webstore = new Vue({
    el: '#app',
    data (){
      return {
        step: 1,
        lessons,
        sitename: 'Knowledge Bank Store',
        order: {
          name: '',
          phone: '',
        },
        cart: [],

      }
  },
    methods: {
      isInCart(land){
        return this.cart.find( ({ id }) => id === land.id );
      },
      addToCart: function(lesson){
        let item = this.cart.find( ({ id }) => id === lesson.id );
        if (item){
          item.cart_quantity += 1;
        }
        else {
          lesson.cart_quantity = 1;
          this.cart.push(lesson);
        }
      },
      showCheckout(){
        this.step = 2;
      },
      submitForm(){
        alert("Order Submitted.")
      },
      canAddToCart(lesson){
        return lesson.cart_quantity < lesson.availableInventory;
      },
    },
    computed: {
      cartItemCount: function () {
        return this.cart.length;
      },
    }
  });
</script>
</body>

</html>
