<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Knowledge Bank Store</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
  <header>
    <h1 v-text="sitename"></h1>
    <button v-if="step === 1" :disabled="cartItemCount < 1" v-on:click="showCheckout">
      {{cartItemCount}}
      <span  class="fas fa-cart-plus"></span>  View Shopping Cart
    </button>
    <button v-else v-on:click="showLessons">
      Back To Lessons
    </button>
  </header>
  <main>
    <p></p>
    <div v-if="step === 1">
      <div style="margin-top: 5px;">
        <label for="sort_by"><strong>Sort By:</strong></label>
        <select id="sort_by" v-model="sort_by">
          <option disabled value="">None</option>
          <option value="subject">Subject</option>
          <option value="location">Location</option>
          <option value="price">Price</option>
          <option value="spaces">Spaces</option>
        </select>
      </div>
      <div style="margin-top: 5px;">
        <label for="sort_order"><strong>Sort Order:</strong></label>
        <select id="sort_order" v-model="sort_order">
          <option disabled value="">None</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <div style="margin-top: 5px;">
        <label for="search"><strong>Search:</strong></label>
        <input id="search" type="search" name="search" v-model="search"/>
      </div>
      <div style="display: inline-block; padding: 10px" v-for="(lesson, index) in getLessons()">
        <p>Subject: {{lesson.subject}} <span  :class="lesson.icon"></span></p>
        <p>Location: {{lesson.location}}</p>
        <p>Price: {{lesson.price}}</p>
        <p>Spaces: {{lesson.spaces}}</p>
        <button :disabled="!canAddToCart(lesson)" v-on:click="addToCart(lesson)">
          Add to cart
        </button>
      </div>
    </div>
    <div v-if="step === 2">
      <div style="display: inline-block; padding: 10px" v-for="(lesson, index) in cart">
        <p>Subject: {{lesson.subject}} <span  :class="lesson.icon"></span></p>
        <p>Location: {{lesson.location}}</p>
        <p>Price: {{lesson.price}}</p>
        <p>Spaces: {{lesson.spaces}}</p>
        <p>Quantity In Cart: {{lesson.cart_quantity}}</p>
        <button v-on:click="removeFromCart(lesson)">
          Remove
        </button>
      </div>
    </div>
    <form v-if="step === 2">
      <div>
        <h2>Checkout</h2>
        <p>
          <label for="name"><strong>Name:</strong></label>
          <input id="name" v-model.trim="order.name"/>
        </p>
        <p>
          <label for="phone"><strong>Phone:</strong></label>
          <input id="phone" v-model.trim="order.phone"/>
        </p>

        <button :disabled="!canCheckout" type="submit" v-on:click="submitForm">
          Checkout
        </button>
      </div>
    </form>
  </main>

</div>


<script  type="module">
  import lessons from "./js/lessons.json" assert { type: 'json' };
  var webstore = new Vue({
    el: '#app',
    data (){
      return {
        step: 1,
        lessons,
        search: '',
        sort_by: 'subject',
        sort_order: 'asc',
        sitename: 'Knowledge Bank Store',
        order: {
          name: '',
          phone: '',
        },
        cart: [],

      }
  },
    methods: {
      addToCart: function(lesson){
        let item = this.cart.find( ({ id }) => id === lesson.id );
        if (item){
          item.cart_quantity += 1;
          item.spaces -= 1;
        }
        else {
          lesson.spaces -= 1;
          lesson.cart_quantity = 1;
          this.cart.push(lesson);
        }
      },
      showCheckout(){
        this.step = 2;
      },
      showLessons(){
        this.step = 1;
      },
      submitForm(){
        alert("Order Submitted.")
        window.reload();
      },
      canAddToCart(lesson){
        return lesson.spaces > 0;
      },
      removeFromCart(lesson){
        this.cart.splice(this.cart.indexOf(lesson), 1);
        let item = this.lessons.find( ({ id }) => id === lesson.id );
        item.spaces = 5;
        item.cart_quantity = 0;
        if (this.cartItemCount < 1){
          this.step = 1;
        }
      },
      getLessons(){
        if (this.sort_by === 'subject')
          this.lessons.sort((a, b) => (a.subject > b.subject) ? this.sort_order === 'asc' ? 1 : -1: this.sort_order === 'asc' ? -1 : 1);
        if (this.sort_by === 'location')
          this.lessons.sort((a, b) => (a.location > b.location) ? this.sort_order === 'asc' ? 1 : -1: this.sort_order === 'asc' ? -1 : 1);
        if (this.sort_by === 'price')
          this.lessons.sort((a, b) => (a.price > b.price) ? this.sort_order === 'asc' ? 1 : -1: this.sort_order === 'asc' ? -1 : 1);
        if (this.sort_by === 'spaces')
          this.lessons.sort((a, b) => (a.spaces > b.spaces) ? this.sort_order === 'asc' ? 1 : -1: this.sort_order === 'asc' ? -1 : 1);

        if (this.search.length > 1){
          let e = this.search.toLowerCase();
          return this.lessons.filter((lesson) => (lesson.subject.toLowerCase().indexOf(e) > -1 || lesson.location.toLowerCase().indexOf(e) > -1))
        }

        return this.lessons;
      },

    },
    computed: {
      cartItemCount: function () {
        return this.cart.length;
      },
      canCheckout(){
        return this.order.name.length > 0 && this.order.phone.length > 0 && /^[a-zA-Z\s]*$/.test(this.order.name) && /^\d+$/.test(this.order.phone);
      }
    }
  });
</script>
</body>

</html>
